#specs {
  background-image: url("../../../img/specs.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: 100% auto;
  margin-top: 20px;
}

#specs h3 {
  padding: 20px 0 0 20px;
}

.specsBox {
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
}

.specsList {
  background-color: #dfdfdf;
  line-height: 2.2;
}

.dueDilligence {
  padding: 40px 75px;
  width: 50%;
  text-align: justify;
}

.businessEntities {
  padding: 40px 75px;
}
